@charset "UTF-8";
/* CSS Document */
@media all {}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, b, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: normal;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 100%;
  height: 100%;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fundo {
  height: auto;
  background-color: yellow;
  animation-name: fundo;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}
@keyframes fundo {
  0% {
    background-color: #FF009F
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: #00FF0E;
  }
  75% {
    background-color: #00F0FF;
  }
  100% {
    background-color: #FF009F;
  }
}

/*//////////////////////////////////////////////////// */

/* ON LOAD */
html {
  width: 100%;
  height: 100%;
  background-color: #E2E0E0;
  font-family: 'Space Grotesk', sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

#hello, #intro, #registerpage, #loginpage, #mainpage  {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}


header {width: 100vw; box-sizing: border-box;}

/*//////////////////////////////////////////////////// */

/*WELCOME*/
h1 {
  font-size: 80pt;
  text-decoration: underline;
  line-height: 95pt;
  color: white;
  text-align: center;
  padding-top: 30px;
}

button {
  background: none;
  border: solid white 3px;
  border-radius: 50px;
}

button:hover {
  background: #D7D7D7;
  border: none;
}

#btns {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  margin-top: 10%;
}

#btnstart {
  border-radius: 50px;
  margin-bottom: 15%;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20pt;
  color: white;
  height: 80px;
  cursor: pointer;
}
#btnregister {
  border-radius: 50px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20pt;
  color: white;
  height: 80px;
  cursor: pointer;
}


/*//////////////////////////////////////////////////// */

/*PAG. INICIAL*/

/*MENU*/

#cabecalho {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 30px;

}
nav {
    display: grid;
    padding-top: 10px;
}

.nome {
  display: grid;
  text-align: center;
}

h2 {
  font-size: 25pt;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  position: absolute;
  left: 45%;
}

#menuToggle {
  display: block;
  z-index: 1;
  position: sticky;
}

#menuToggle a {
  text-decoration: none;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 30pt;
}

#menuToggle a:hover {
  text-decoration: underline 3px;
}


#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
}

/*HAMBURGUER*/

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  z-index: 1;
  transform-origin: 4px 0px;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(4) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menu{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
}

#menu li{
  padding: 10px 0;
  font-size: 22px;
}

/* And let's slide it in from the left */
#menuToggle input:checked ~ ul {
  transform: none;
}

#records {
  display: block;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 610px;
  height: 80px;
  background: #E2E0E0;
  border: none;
  border-radius: 50px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20pt;
  color: white;
}

/*//////////////////////////////////////////////////// */

/*REGISTER PAGE*/
#registerpage {
display: flex;
}

.log_box{
  margin-bottom: 15%;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20pt;
  height: 50px;
  width: 70vw;
  border-radius: 45px;
  background: #D7D7D7;
  color: white;
  border: none;
}

#savebtn {
  display: flex;
flex-direction: column;
width: 30%;
margin-left: auto;
margin-right: auto;
margin-bottom: 10%;
margin-top: 10%;
}



/*//////////////////////////////////////////////////// */

/*ABOUT*/

h3 {
  font-size: 25pt;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  margin-left:600px;
}

.text{
  font-size: 14pt;
  font-family: 'Space Grotesk', sans-serif;
  color: white;
  text-align: center;
  justify-content: center;

}


/*//////////////////////////////////////////////////// */

/*RESPONSIVE*/

@media only screen and (max-width:480px) {
  h1 {
    font-size: 35pt;
    margin-top: 5%;
    line-height: 50pt;
  }
  #btns {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
  }
  #start {
    margin-bottom: 13%;
    font-size: 20pt;
    height: 70px;
  }
  #register {
    font-size: 20pt;
    height: 70px;
  }

  /*PAG. INICIAL*/

  #records {
    margin-top: 520px;
    height: 75px;
    width: 75%;
  }

  #cabecalho {
    margin-top: 15px;
  }

  .nome {
   width: 0;
  }

  h2 {
    font-size: 20pt;
    padding-top: 5px;
  }
}
